PORT=3000
NODE_ENV=development
BASE_URL=http://localhost:3000

# Transbank Webpay Plus Credentials
WEBPAY_COMMERCE_CODE=597055555532
WEBPAY_API_KEY=579B532A7440BB06BE05E1CE2AC1A44EBE7FE2B0058C673D291F44F8E5A74900
WEBPAY_ENVIRONMENT=INTEGRATION

# Database
DB_FILE=./database.sqlite

# Security
SEAT_LOCK_MINUTES=15
